<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Portfolio</h2>
  <p>수업에서 배운 내용을 토대로 구성한 내용입니다</p>
  <div class="btn-group-vertical" style="width:100%">
    <button type="button" style="width:100%"  class="btn btn-primary" onclick = "location.href = 'login'" >001</button>
    <!-- <button type="button" class="btn btn-primary">List</button> #} -->
<!--    <button type="button" style="width:100%"  class="btn btn-primary" onclick = "location.href = 'friendslist'" >friendsList</button>-->
  </div>
</div>

</body>
</html>
